.topbutton {
    font-family: "Noto Sans";
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding: 0 10px;
}

.topbutton:hover {
    font-weight: bold;
}

.jss20 {
    background-color: #424242;
}

.jss21 {
    border-radius: 4px;
}

.jss22 {
    box-shadow: none;
}

.jss23 {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.jss24 {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.jss25 {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.jss26 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.jss27 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.jss28 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.jss29 {
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.jss30 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.jss31 {
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.jss32 {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.jss33 {
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.jss34 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.jss35 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.jss36 {
    box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.jss37 {
    box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.jss38 {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.jss39 {
    box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.jss40 {
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.jss41 {
    box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.jss42 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.jss43 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.jss44 {
    box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.jss45 {
    box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.jss46 {
    box-shadow: 0px 11px 15px -7px rgba(214, 151, 151, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.jss11 {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
}

.jss12 {
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
}

.jss13 {
    top: 0;
    left: auto;
    right: 0;
    position: absolute;
}

.jss14 {
    top: 0;
    left: auto;
    right: 0;
    position: sticky;
}

.jss15 {
    position: static;
}

.jss16 {
    position: relative;
}

.jss17 {
    color: #fff;
    background-color: #212121;
}

.jss18 {
    color: #fff;
    background-color: #607d8b;
}

.jss19 {
    color: #fff;
    background-color: #e57373;
}

.jss302 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

.jss303 {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
}

.jss304 {
    opacity: 0.3;
    transform: scale(1);
    animation: mui-ripple-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.jss305 {
    animation-duration: 200ms;
}

.jss306 {
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
    border-radius: 50%;
    background-color: currentColor;
}

.jss307 {
    opacity: 0;
    animation: mui-ripple-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.jss308 {
    top: 0;
    left: 0;
    position: absolute;
    animation: mui-ripple-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
}

@-webkit-keyframes mui-ripple-enter {
    0% {
        opacity: 0.1;
        transform: scale(0);
    }

    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}

@-webkit-keyframes mui-ripple-exit {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes mui-ripple-pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.92);
    }

    100% {
        transform: scale(1);
    }
}

.jss113 {
    color: inherit;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.jss113::-moz-focus-inner {
    border-style: none;
}

.jss113.jss114 {
    cursor: default;
    pointer-events: none;
}

.jss87 {
    color: #fff;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.jss87:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.jss87.jss107 {
    color: rgba(255, 255, 255, 0.3);
}

@media (hover: none) {
    .jss87:hover {
        background-color: transparent;
    }
}

.jss87:hover.jss107 {
    background-color: transparent;
}

.jss88 {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.jss89 {
    padding: 6px 8px;
}

.jss90 {
    color: #607d8b;
}

.jss90:hover {
    background-color: rgba(96, 125, 139, 0.1);
}

@media (hover: none) {
    .jss90:hover {
        background-color: transparent;
    }
}

.jss91 {
    color: #e57373;
}

.jss91:hover {
    background-color: rgba(229, 115, 115, 0.1);
}

@media (hover: none) {
    .jss91:hover {
        background-color: transparent;
    }
}

.jss95 {
    border: 1px solid rgba(255, 255, 255, 0.23);
    padding: 5px 16px;
}

.jss95.jss107 {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.jss96 {
    color: #607d8b;
    border: 1px solid rgba(96, 125, 139, 0.5);
}

.jss96:hover {
    border: 1px solid #607d8b;
    background-color: rgba(96, 125, 139, 0.1);
}

@media (hover: none) {
    .jss96:hover {
        background-color: transparent;
    }
}

.jss97 {
    color: #e57373;
    border: 1px solid rgba(229, 115, 115, 0.5);
}

.jss97:hover {
    border: 1px solid #e57373;
    background-color: rgba(229, 115, 115, 0.1);
}

.jss97.jss107 {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (hover: none) {
    .jss97:hover {
        background-color: transparent;
    }
}

.jss98 {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
}

.jss98.jss106 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.jss98:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.jss98.jss107 {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.12);
}

.jss98:hover {
    background-color: #d5d5d5;
}

@media (hover: none) {
    .jss98:hover {
        background-color: #e0e0e0;
    }
}

.jss98:hover.jss107 {
    background-color: rgba(255, 255, 255, 0.12);
}

.jss99 {
    color: #fff;
    background-color: #607d8b;
}

.jss99:hover {
    background-color: rgb(67, 87, 97);
}

@media (hover: none) {
    .jss99:hover {
        background-color: #607d8b;
    }
}

.jss100 {
    color: #fff;
    background-color: #e57373;
}

.jss100:hover {
    background-color: rgb(160, 80, 80);
}

@media (hover: none) {
    .jss100:hover {
        background-color: #e57373;
    }
}

.jss104 {
    width: 56px;
    height: 56px;
    padding: 0;
    min-width: 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
}

.jss104:active {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.jss105 {
    width: auto;
    height: 48px;
    padding: 0 16px;
    min-width: 48px;
    border-radius: 24px;
}

.jss108 {
    color: inherit;
    border-color: currentColor;
}

.jss109 {
    width: 40px;
    height: 40px;
}

.jss110 {
    padding: 4px 8px;
    min-width: 64px;
    font-size: 0.8125rem;
}

.jss111 {
    padding: 8px 24px;
    font-size: 0.9375rem;
}

.jss112 {
    width: 100%;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #303030;
}

@media print {
    body {
        background-color: #fff;
    }
}

.jss128 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.jss129 {
    margin: 0;
    box-sizing: border-box;
}

.jss130 {
    min-width: 0;
}

.jss131 {
    flex-direction: column;
}

.jss132 {
    flex-direction: column-reverse;
}

.jss133 {
    flex-direction: row-reverse;
}

.jss134 {
    flex-wrap: nowrap;
}

.jss135 {
    flex-wrap: wrap-reverse;
}

.jss136 {
    align-items: center;
}

.jss137 {
    align-items: flex-start;
}

.jss138 {
    align-items: flex-end;
}

.jss139 {
    align-items: baseline;
}

.jss140 {
    align-content: center;
}

.jss141 {
    align-content: flex-start;
}

.jss142 {
    align-content: flex-end;
}

.jss143 {
    align-content: space-between;
}

.jss144 {
    align-content: space-around;
}

.jss145 {
    justify-content: center;
}

.jss146 {
    justify-content: flex-end;
}

.jss147 {
    justify-content: space-between;
}

.jss148 {
    justify-content: space-around;
}

.jss149 {
    justify-content: space-evenly;
}

.jss150 {
    width: calc(100% + 8px);
    margin: -4px;
}

.jss150>.jss129 {
    padding: 4px;
}

.jss151 {
    width: calc(100% + 16px);
    margin: -8px;
}

.jss151>.jss129 {
    padding: 8px;
}

.jss152 {
    width: calc(100% + 24px);
    margin: -12px;
}

.jss152>.jss129 {
    padding: 12px;
}

.jss153 {
    width: calc(100% + 32px);
    margin: -16px;
}

.jss153>.jss129 {
    padding: 16px;
}

.jss154 {
    width: calc(100% + 40px);
    margin: -20px;
}

.jss154>.jss129 {
    padding: 20px;
}

.jss155 {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
}

.jss156 {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
}

.jss157 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
}

.jss158 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
}

.jss159 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}

.jss160 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}

.jss161 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
}

.jss162 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}

.jss163 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
}

.jss164 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
}

.jss165 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
}

.jss166 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
}

.jss167 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
}

.jss168 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media (min-width:600px) {
    .jss169 {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .jss170 {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .jss171 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .jss172 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .jss173 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .jss174 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .jss175 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .jss176 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .jss177 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .jss178 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .jss179 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .jss180 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .jss181 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .jss182 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width:960px) {
    .jss183 {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .jss184 {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .jss185 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .jss186 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .jss187 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .jss188 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .jss189 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .jss190 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .jss191 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .jss192 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .jss193 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .jss194 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .jss195 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .jss196 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width:1280px) {
    .jss197 {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .jss198 {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .jss199 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .jss200 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .jss201 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .jss202 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .jss203 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .jss204 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .jss205 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .jss206 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .jss207 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .jss208 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .jss209 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .jss210 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (min-width:1920px) {
    .jss211 {
        flex-grow: 0;
        max-width: none;
        flex-basis: auto;
    }

    .jss212 {
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 0;
    }

    .jss213 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .jss214 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }

    .jss215 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }

    .jss216 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .jss217 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }

    .jss218 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .jss219 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }

    .jss220 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }

    .jss221 {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .jss222 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .jss223 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%;
    }

    .jss224 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
}

.jss47 {
    display: flex;
    position: relative;
    align-items: center;
}

.jss48 {
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width:600px) {
    .jss48 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.jss49 {
    min-height: 56px;
}

@media (min-width:0px) and (orientation: landscape) {
    .jss49 {
        min-height: 48px;
    }
}

@media (min-width:600px) {
    .jss49 {
        min-height: 64px;
    }
}

.jss50 {
    min-height: 48px;
}

.jss51 {
    margin: 0;
    display: block;
}

.jss52 {
    color: #616161;
    font-size: 7rem;
    font-weight: 300;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.14286em;
    margin-left: -.04em;
    letter-spacing: -.04em;
}

.jss53 {
    color: #616161;
    font-size: 3.5rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.30357em;
    margin-left: -.02em;
    letter-spacing: -.02em;
}

.jss54 {
    color: #616161;
    font-size: 2.8125rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.13333em;
    margin-left: -.02em;
}

.jss55 {
    color: #616161;
    font-size: 2.125rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.20588em;
}

.jss56 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.35417em;
}

.jss57 {
    color: #fff;
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
}

.jss58 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}

.jss59 {
    color: #fff;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}

.jss60 {
    color: #fff;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.jss61 {
    color: #fff;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.jss62 {
    color: #fff;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.jss63 {
    color: #fff;
    font-size: 6rem;
    font-family: Roboto, serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.01562em;
}

.jss64 {
    color: #fff;
    font-size: 3.75rem;
    font-family: Roboto Slab, serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.00833em;
}

.jss65 {
    color: #fff;
    font-size: 3rem;
    font-family: Roboto, serif;
    font-weight: 400;
    line-height: 1.04;
    letter-spacing: 0em;
}

.jss66 {
    color: #fff;
    font-size: 2.125rem;
    font-family: Roboto, serif;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.00735em;
}

.jss67 {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
}

.jss68 {
    color: #fff;
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.jss69 {
    color: #fff;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}

.jss70 {
    color: #fff;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 0.00714em;
}

.jss71 {
    color: #fff;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 2.66;
    letter-spacing: 0.08333em;
    text-transform: uppercase;
}

.jss72 {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}

.jss73 {
    text-align: left;
}

.jss74 {
    text-align: center;
}

.jss75 {
    text-align: right;
}

.jss76 {
    text-align: justify;
}

.jss77 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jss78 {
    margin-bottom: 0.35em;
}

.jss79 {
    margin-bottom: 16px;
}

.jss80 {
    color: inherit;
}

.jss81 {
    color: #607d8b;
}

.jss82 {
    color: #e57373;
}

.jss83 {
    color: #fff;
}

.jss84 {
    color: #616161;
}

.jss85 {
    color: #f44336;
}

.jss86 {
    display: inline;
}

body {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-color: rgb(112, 142, 154);
    background-image: url('https://go.gov.sg/assets/landscape.svg');
    background-repeat: no-repeat;
    background-position: top;
}

@media (max-width:959.95px) {
    body {
        position: relative;
        background-size: auto;
    }
}

body #root {
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.jss1 {
    position: relative;
    box-shadow: none;
    flex-shrink: 1;
    background-color: rgba(0, 0, 0, 0);
}

@media (min-width:600px) {
    .jss1 {
        padding: 32px;
    }
}

.jss2 {
    display: flex;
    flex-direction: row;
}

.jss3 {
    margin-right: 32px;
}

.jss3 a {
    color: inherit;
}

.jss4 {
    margin-right: 0px;
}

@media (max-width:599.95px) {
    .jss5 {
        padding: 4px 8px;
    }
}

.jss6 {
    flex-grow: 1;
}

.jss7 {
    display: flex;
    margin-right: 32px;
}

.jss7 a {
    color: inherit;
    font-weight: bold;
}

.jss8 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.jss8>div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.jss9 {
    padding: 48px 48px 16px;
    background-color: #212121;
}

.jss10 {
    margin-top: 24px;
    border-top: 1px solid #616161;
}

.jss10 a {
    color: #eeeeee;
}

.jss277 {
    height: 0.01em;
    display: flex;
    max-height: 2em;
    align-items: center;
}

.jss278.jss279 {
    margin-top: 16px;
}

.jss279 {
    margin-right: 8px;
}

.jss280 {
    margin-left: 8px;
}

.jss281 {
    pointer-events: none;
}

.jss260 {
    color: #fff;
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1875em;
    align-items: center;
}

.jss260.jss263 {
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
}

.jss268 {
    padding: 6px 0 7px;
}

.jss269 {
    width: 100%;
}

.jss270 {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 6px 0 7px;
    display: block;
    min-width: 0;
    box-sizing: content-box;
    background: none;
    -webkit-tap-highlight-color: transparent;
}

.jss270::-webkit-input-placeholder {
    color: currentColor;
    opacity: 0.5;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jss270::-moz-placeholder {
    color: currentColor;
    opacity: 0.5;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jss270:-ms-input-placeholder {
    color: currentColor;
    opacity: 0.5;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jss270::-ms-input-placeholder {
    color: currentColor;
    opacity: 0.5;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jss270:focus {
    outline: 0;
}

.jss270:invalid {
    box-shadow: none;
}

.jss270::-webkit-search-decoration {
    -webkit-appearance: none;
}

.jss270.jss263 {
    opacity: 1;
}

label[data-shrink=false]+.jss261 .jss270::-webkit-input-placeholder {
    opacity: 0;
}

label[data-shrink=false]+.jss261 .jss270::-moz-placeholder {
    opacity: 0;
}

label[data-shrink=false]+.jss261 .jss270:-ms-input-placeholder {
    opacity: 0;
}

label[data-shrink=false]+.jss261 .jss270::-ms-input-placeholder {
    opacity: 0;
}

label[data-shrink=false]+.jss261 .jss270:focus::-webkit-input-placeholder {
    opacity: 0.5;
}

label[data-shrink=false]+.jss261 .jss270:focus::-moz-placeholder {
    opacity: 0.5;
}

label[data-shrink=false]+.jss261 .jss270:focus:-ms-input-placeholder {
    opacity: 0.5;
}

label[data-shrink=false]+.jss261 .jss270:focus::-ms-input-placeholder {
    opacity: 0.5;
}

.jss271 {
    padding-top: 3px;
}

.jss272 {
    resize: none;
    padding: 0;
}

.jss273 {
    height: 1.1875em;
}

.jss274 {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.jss247 {
    position: relative;
    transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    background-color: rgba(255, 255, 255, 0.09);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.jss247:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

.jss247.jss249 {
    background-color: rgba(255, 255, 255, 0.09);
}

.jss247.jss250 {
    background-color: rgba(255, 255, 255, 0.12);
}

@media (hover: none) {
    .jss247:hover {
        background-color: rgba(255, 255, 255, 0.09);
    }
}

.jss248:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid rgb(127, 151, 162);
    pointer-events: none;
}

.jss248.jss249:after {
    transform: scaleX(1);
}

.jss248.jss253:after {
    transform: scaleX(1);
    border-bottom-color: #f44336;
}

.jss248:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    pointer-events: none;
}

.jss248:hover:not(.jss250):not(.jss249):not(.jss253):before {
    border-bottom: 1px solid #fff;
}

.jss248.jss250:before {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
}

.jss251 {
    padding-left: 12px;
}

.jss252 {
    padding-right: 12px;
}

.jss254 {
    padding: 27px 12px 10px;
    box-sizing: border-box;
}

.jss255 {
    padding: 27px 12px 10px;
}

.jss256 {
    padding-top: 24px;
    padding-bottom: 6px;
}

.jss257 {
    padding: 0;
}

.jss258 {
    padding-left: 0;
}

.jss259 {
    padding-right: 0;
}

.jss240 {
    color: #616161;
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
}

.jss240.jss241 {
    color: rgb(127, 151, 162);
}

.jss240.jss242 {
    color: rgba(255, 255, 255, 0.5);
}

.jss240.jss243 {
    color: #f44336;
}

.jss246.jss243 {
    color: #f44336;
}

.jss229 {
    transform-origin: top left;
}

.jss234 {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.jss235 {
    transform: translate(0, 21px) scale(1);
}

.jss236 {
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
}

.jss237 {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.jss238 {
    z-index: 1;
    transform: translate(12px, 20px) scale(1);
    pointer-events: none;
}

.jss238.jss235 {
    transform: translate(12px, 17px) scale(1);
}

.jss238.jss236 {
    transform: translate(12px, 10px) scale(0.75);
}

.jss238.jss236.jss235 {
    transform: translate(12px, 7px) scale(0.75);
}

.jss239 {
    z-index: 1;
    transform: translate(14px, 20px) scale(1);
    pointer-events: none;
}

.jss239.jss235 {
    transform: translate(14px, 17px) scale(1);
}

.jss239.jss236 {
    transform: translate(14px, -6px) scale(0.75);
}

.jss225 {
    margin: 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.jss226 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.jss227 {
    margin-top: 8px;
    margin-bottom: 4px;
}

.jss228 {
    width: 100%;
}

.jss282 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}

.jss283 {
    color: #607d8b;
}

.jss284 {
    color: #e57373;
}

.jss285 {
    color: #fff;
}

.jss286 {
    color: #f44336;
}

.jss287 {
    color: rgba(255, 255, 255, 0.3);
}

.jss288 {
    font-size: inherit;
}

.jss289 {
    font-size: 20px;
}

.jss290 {
    font-size: 35px;
}

.jss121 {
    margin: 0 auto;
    max-width: 960px;
}

@media (max-width:959.95px) {
    .jss121 {
        width: auto;
    }
}

.jss122 {
    margin: 5px;
}

.jss123 {
    display: flex;
}

.jss124 {
    flex-grow: 1;
    background-color: #fff;
}

.jss125 {
    color: #424242;
}

.jss126 {
    display: flex;
    justify-content: center;
}

.jss127 {
    margin: 5px;
}

.jss291 {
    overflow: hidden;
}

.jss292 {
    padding: 16px;
}

.jss292:last-child {
    padding-bottom: 24px;
}

.jss116 {
    margin: 0 auto;
    padding: 64px 16px 48px;
    max-width: 900px;
}

.jss117 {
    color: rgba(0, 0, 0, 0.87);
    flex-grow: 1;
    background-color: #fff;
}

.jss118 {
    height: 100%;
    display: flex;
    box-shadow: none;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.jss119 {
    padding: 24px 0px;
}

.jss119>svg {
    color: #e57373;
    width: 2em;
    height: 2em;
}

.jss120 {
    flex-grow: 1;
}

.jss295 {
    left: 0;
    right: 0;
    z-index: 1400;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.jss296 {
    top: 0;
}

@media (min-width:960px) {
    .jss296 {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}

.jss297 {
    bottom: 0;
}

@media (min-width:960px) {
    .jss297 {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}

.jss298 {
    top: 0;
    justify-content: flex-end;
}

@media (min-width:960px) {
    .jss298 {
        top: 24px;
        left: auto;
        right: 24px;
    }
}

.jss299 {
    bottom: 0;
    justify-content: flex-end;
}

@media (min-width:960px) {
    .jss299 {
        left: auto;
        right: 24px;
        bottom: 24px;
    }
}

.jss300 {
    top: 0;
    justify-content: flex-start;
}

@media (min-width:960px) {
    .jss300 {
        top: 24px;
        left: 24px;
        right: auto;
    }
}

.jss301 {
    bottom: 0;
    justify-content: flex-start;
}

@media (min-width:960px) {
    .jss301 {
        left: 24px;
        right: auto;
        bottom: 24px;
    }
}

.jss293 {
    background-color: #f44336;
}

.jss294 {
    background-color: rgb(127, 151, 162);
}

.star {
    position: relative;
    -webkit-animation-name: fly;
    animation-name: fly;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

#background {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute
}

@-webkit-keyframes fly {
    0% {
        -webkit-transform: rotate(-45deg) translateX(0);
        transform: rotate(-45deg) translateX(0);
        opacity: 1
    }

    30% {
        -webkit-transform: rotate(-45deg) translateX(var(--distance));
        transform: rotate(-45deg) translateX(var(--distance));
        opacity: 0
    }

    to {
        -webkit-transform: rotate(-45deg) translateX(var(--distance));
        transform: rotate(-45deg) translateX(var(--distance));
        opacity: 0
    }
}

@keyframes fly {
    0% {
        -webkit-transform: rotate(-45deg) translateX(0);
        transform: rotate(-45deg) translateX(0);
        opacity: 1
    }

    30% {
        -webkit-transform: rotate(-45deg) translateX(var(--distance));
        transform: rotate(-45deg) translateX(var(--distance));
        opacity: 0
    }

    to {
        -webkit-transform: rotate(-45deg) translateX(var(--distance));
        transform: rotate(-45deg) translateX(var(--distance));
        opacity: 0
    }
}